@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Roboto+Slab&display=swap');
/* Fonts Used:
font-family: 'Goudy Bookletter 1911', serif;
font-family: 'Roboto Slab', serif;
*/
/* 
Color Palette: */

Colors {
color: 
#561420
#821122
#C59A6F
#333333
#CCCCCC
#FCFCFC
}


/* Global */
h2 {
    font-family: 'Goudy Bookletter 1911', serif;
    color: #FCFCFC;
    font-weight: 700;
    font-size: 3em;
    text-shadow: 4px 4px 5px #0a0a0a;
}

#companyName {
    font-family: 'Goudy Bookletter 1911', cursive;
    color: #FCFCFC;
    font-size: 5em;
    font-weight: 900;
    margin-top: -10px;
}

a:link {
    color: #fff;
}

a:hover, {
    color: #d34326;
}

a:visited {
    color: #fff;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

#lawDesignBold {
    font-family: 'Goudy Bookletter 1911', cursive;
    font-size: 1.5em;
}

#our_story, #review, #menu #contact_us {
    min-height: 600px;
}

/* Navbar Section */
.nav li a:hover, .navbar-default {
    background-color: transparent;
}

.navbar-default {
    border-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FCFCFC;
    background-color: rgba(130,17,34,.5);
}

.navbar-default .navbar-nav > li > a {
    color:#CCCCCC;
    text-shadow: 4px 4px 5px #0a0a0a;
}

.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
    color: #C59A6F;
    background-color: rgba(86,20,32,.8);
}

nav.navbar {
    position: absolute;
    top: 100;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar-brand > img {
    margin-top: 0px;
}

/* Carousel CSS */

/* #carouselFront {
    padding-top: 175PX;
    color: #FCFCFC;
} */

/* .carousel > h1 {
    
} */

/* .carousel {
    margin-bottom: 60px;
} */

/* .carousel-caption > h1 {
    font-family: 'Goudy Bookletter 1911' cursive;
    z-index: 20;
    padding-bottom: 175px;
}

.carousel-caption > p {
    font-family: 'Roboto S', sans-serif;
    color: #f7f7f7;
    font-size: 20px;
} */

/* #carouselFormat > h1{
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 3em;
}
#carouselFormat > p {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 3em;
} */

.carousel-inner .item {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #FCFCFC;
}
.carousel-inner .item  h1 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 2.5em;
    color: #FCFCFC;
}
.main_img1 {
    background-image: url("../img/courtroom.jpg")
}
.main_img2 {
    background-image: url("../img/adults-businessman-close-up.jpg")
}
.main_img3 {
    background-image: url("../img/law-books-close.jpg")
}
.main_img4 {
    background-image: url("../img/adult-analyzing-bandw.jpg")
}

/* .main_logo {
    max-height: 300px;
} */

/* button */

.btn-primary {
    color: #FCFCFC;
    background-color: #821122;
    border-color: transparent;
}

.btn-primary:hover {
    color: #C59A6F;
    background-color: #561420;
    border-color: transparent;
}

/* Our Story Section */

#our_story .row {
    margin-top: 30px;
}

#our_story h1 {
    font-family: 'Goudy Bookletter 1911', cursive;
    color: #f8512f;
    font-size: 6em;
    text-shadow: 4px 4px 5px #0a0a0a;
}

#our_story h3  {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 2em;
    margin-top: 0;
}

#our_story p {
    font-family: 'Roboto Slab', serif;
    font-size: 1.4em;
    font-weight: 300;
}

#story_year {
    font-family: 'Playfair Display', serif;
    font-size: 200px;
    font-weight: 700;
    text-size-adjust: auto;
    z-index: -1;
    position: absolute;
    color: rgba(149, 147, 147,0.3);
}

/* Review Section */

#review {
    background-image: url('../img/Justice-BW.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#review .center {
    margin: 0 auto;
    float: none;
    background-color: rgba(20,20,20,0.3);
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#review h1 {
    font-family: 'Goudy Bookletter 1911', cursive;
    font-size: 3em;
    font-weight: 700;
    color: #821122;
    text-shadow: 4px 4px 5px #0a0a0a;
}

#review p {
    color: #FCFCFC;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 1.5em;
    text-shadow: 4px 4px 5px #0a0a0a;
}

#review b{
    color: #C59A6F;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 1.5em;
    text-shadow: 4px 4px 5px #0a0a0a;
}
/* Menu Section */

#menu {
    background-image: url('../img/cherry-wood.jpg');
    background-size: cover;
    background-attachment: fixed;
    border-top-color: transparent;
}

#menu h1 {
    font-family: 'Goudy Bookletter 1911', cursive;
    font-size: 5em;
    color: #f8512f;
    text-shadow: 4px 4px 5px #0a0a0a;
}

#menuTabs {
    font-family: 'Goudy Bookletter 1911', cursive;
    font-size: 2em;
    background-color: #f8512f;
    border-radius: 20px;
    border-bottom-color: transparent;
}

#appetizers, #lunch, #dinner, #dessert {
    font-family: 'Roboto Slab', serif;
    color: #fff;
}

#appetizers h3, #lunch h3, #dinner h3, #dessert h3 {
    font-family: 'Goudy Bookletter 1911', cursive;
    color: #f8512f;
    text-shadow: 1px 1px 2px #fff;
    font-size: 3em;
}
/* Contact Us Section */

#contact_us {
    height: 900px;
    background-color: #561420;
}

#contact_us h1 {
    font-family: 'Goudy Bookletter 1911', cursive;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4em;
    text-shadow: 4px 4px 5px #0a0a0a;
    color: #fff;
}

#contact_us p {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    text-shadow: 4px 4px 5px #0a0a0a;
    color: #fff;
}

#contact_us_col_12 {
    padding-bottom: 50px;
}

/* email Form */

#emailForm {
    padding: 50px;
    background-color: #C59A6F;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    color: #FCFCFC;
    text-shadow: 4px 4px 5px #333333;
    border-style: solid;
    border-radius: 20px;
    border-color: #CCCCCC;
}
#emailForm b {
    color: #561420;
    font-size: 1.5em;
}

/* Social Media Section */

#social {
    padding-left: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
    color: #FCFCFC;
    text-shadow: 4px 4px 5px #0a0a0a;
}

